*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	
}
  .container{
	  width:1100px;
	  margin:0 auto;
	  
	 
  
  }
	
.row,.row::after,.row::before{
	display:table;
	clear :both;
	width:100%;
	
	
	
}
.heroimg{
	background-color:#fcdb00;
	padding:60px 0 105px 0;
	
	
	
	
}
.col5,.col10,.col4,.col3,.col9,.col2,.col1,.col3,.col6{
	float:left;
	padding:0 15px;
	
	
	
}
.col3{
	width:calc(100% * 3 / 12);
	
	
}












.col4{
	width:calc(100% * 4 / 12);
	
	
}










	
.col5{
	width:calc(100% * 5 / 12);
	
	
}

.col9{
	width:calc(100% * 9 / 12);
	
	
}









.col10{
	width:calc(100% * 10 / 12);
	
	
}

.col12{
 width:calc(100% * 12 / 12);
	
	
	
	
}

.col1{
 width: calc(100% * 1 / 12);	
	
	
	
}





	
.navbar li{
	display:inline-block;
	
	
	
}
ul{
 list-style:none;	
	
	
	
}
a:link,a:visited{
	text-decoration:none;
	
	
}
.navbar a {
	font-size:22px;
	font-weight:bold;
	color:#010101;
	padding:0 18px;
	text-transform:capitalize;
	display:inline-block;
	line-height: 45px;
	
}
.offset-1{
	margin-left:calc(100% * 1 / 12);
	
	
	
}







.offset-2{
	margin-left:calc(100% * 2 / 12);
	
	
	
}

.mb-70{
	margin-bottom:70px;
	
	
	
}
.mb-90{
	margin-bottom:90px;
	
	
	
}

.mb-130{
 margin-bottom:130px;
	
	
	
	
}







.px-50{
  padding-left:50px;
  padding-right:50px;  
	
	
	
	
}







.pri-heading{
	font-size:32px;
	font-weight:bold;
	color:#010101;
	margin-bottom:20px;
	
	
	
	
}



.sec-heading{
	font-size:22px;
	color:#313841;
	margin-bottom:22px;
	
	
	
	
}
.para{
	font-size:16px;
	color:#555555;
	margin-bottom:40px;
		
}
.icon-list li{
	display:inline-block;
	margin-right:40px;
	
	
}
.icon-list i{
  font-size:40px;
  color:#010101;  
	
	
}

.ipad{
	margin-left:21px;
	
	
	
}
.inspire{
  margin-top:70px;
  
	
	
	
}

.text-center{
	text-align:center;
	
	
	
}

.features{
	padding:120px 0 80px 0;
	
	
	
}
.thumbnail{
	margin-bottom:90px;
	
	
	
}
.thumbicon{
  font-size:44px;	
	
	
	
	
}

.thumbcontent h3{
	color:#010101;
	font-size:22px;
	margin-bottom:14px;
	
	
}


.thumbcontent p{
	color:#898989;
	font-size:16px;
	
	
}
.intouch{
	background-color:#010101;
	padding:90px 0 130px 0;
	
	
	
}

.intouch .pri-heading{
	color:#fcdb00;
	font-size:32px;
	
	
	
	
}

.intouch .para{
	color:#898989;
	font-size:20px;
}	

.formcontrol{
  padding:20px 25px;
  border-radius:6px;  
  height:50px;
  width:calc(100% - 150px );	
  
  
  
}
.btn-primary{
 background-color:#fbdb00;
 color:#010101; 
 padding:15px 32px;	
 border-radius:6px;
 font-size:16px;
 font-weight:bold;
 margin-left:20px;
 height:50px;
 width:125px;

	
}

.formcontrol::placeholder{
	color:#898989;
	font-size:16px;
	
	
	
	
	
}

.formgroup{
 margin-bottom:78px;	
	
	
	
	
	
}
.socialicon li{
	display:inline-block;
	margin-right:30px;
	
	
	
}
.socialicon li a{
	color:#fcdb00;
		
}

.socialicon li i{
	font-size:42px;
		
}
.footerlist{
	list-style:none;
	
	
	
	
}
.footerlist li,.footerlist li a{
	font-size:16px;
	color:#ffff;
	
	
}